<header class="header dark:bg-base-100">
  <div class="header_container">
    <div class="header_img flex gap-5" style="align-items: center">
      <li class="pr-3">
        <a
          id="link-report"
          class="hover:text-neutral-500 dark:hover:text-white"
          href="/report"
          >แจ้งปัญหา</a
        >
      </li>
      <div>
        <span class="hover:text-white"
          ><input class="checkbox" type="checkbox" id="toggle" />
          <label class="toggle toggle-mode" for="toggle">
            <i class="bx bx-sun icon icon--light"></i>
            <i class="bx bx-moon icon icon--dark"></i>
            <span class="ball"></span> </label
        ></span>
      </div>
      <div class="dropdown dropdown-end" id="ddl-account-admin">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="{{ url_for('static', filename='/images/avatar.png') }}" />
          </div>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow dark:bg-base-100 rounded-box w-52 bg-white"
        >
          <li>
            <div class="p-3 flex flex-col">
              <span style="width: 100%; font-size: 16px"
                >{{ account.first_name }} {{ account.last_name }}</span
              >
              <span
                class="text-neutral-500"
                style="width: 100%; font-size: 13px"
                >{{ account.email }}</span
              >
            </div>
          </li>
          <li>
            <a
              id="btn-logout-admin"
              class="text-red-500 hover:text-white hover:bg-red-500 pb-2"
              href="{{ url_for('site.logout') }}"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
    <a
      href="{{ url_for('admin.access_point_dashboard') }}"
      class="header_logo dark:text-white"
      >Network Monitoring System</a
    >

    <div class="header_toggle">
      <label class="btn btn-circle swap swap-rotate" id="header-toggle">
        <input type="checkbox" id="toggle-swap" />

        <svg
          class="swap-off fill-current"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 512 512"
        >
          <path
            d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
          />
        </svg>

        <svg
          class="swap-on fill-current"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 512 512"
        >
          <polygon
            points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
          />
        </svg>
      </label>
    </div>
  </div>
</header>

<div class="nav dark:bg-base-200" id="navbar">
  <nav class="nav_container">
    <div>
      <a
        href="{{ url_for('admin.access_point_dashboard') }}"
        class="nav_link pb-10"
        ><img
          src="{{ url_for('static', filename='/images/psu.png') }}"
          alt="logo"
          width="50"
          height="50"
          class="nav_icon"
          id="logo"
        />
        <span class="nav_logo-name pl-3">DASHBOARD</span></a
      >

      <div class="nav_list pt-8">
        <div class="nav_items">
          <h3 class="nav_subtitle">Pages</h3>

          <a
            id="home-link"
            href="{{ url_for('admin.access_point_dashboard') }}"
            class="nav_link active"
          >
            <i class="bx bx-home nav_icon"></i>
            <span class="nav_name">Home</span>
          </a>
          <div id="ddl-downtime-interval" class="nav_dropdown">
            <a class="nav_link">
              <i class="bx bx-line-chart nav_icon"></i>
              <span class="nav_name">Downtime Interval</span>
              <i class="bx bx-chevron-down nav_icon nav_dropdown-icon"></i>
            </a>

            <div class="nav_dropdown-collapse dark:bg-base-200">
              <div class="nav_dropdown-content">
                <a
                  id="downHosts-link"
                  href="{{ url_for('admin.downHosts') }}"
                  class="nav_dropdown-item pb-4"
                  >Host</a
                >
                <a
                  id="downAccessPoints-link"
                  href="{{ url_for('admin.downAccessPoints') }}"
                  class="nav_dropdown-item"
                  >Access Point</a
                >
              </div>
            </div>
          </div>
          <div id="ddl-host-service" class="nav_dropdown">
            <a class="nav_link">
              <i class="bx bx-line-chart nav_icon"></i>
              <span class="nav_name">Hosts & Services</span>
              <i class="bx bx-chevron-down nav_icon nav_dropdown-icon"></i>
            </a>

            <div class="nav_dropdown-collapse dark:bg-base-200">
              <div class="nav_dropdown-content">
                <a
                  id="host-link"
                  href="{{ url_for('admin.host') }}"
                  class="nav_dropdown-item pb-4"
                  >Host</a
                >
                <a
                  id="service-link"
                  href="{{ url_for('admin.service') }}"
                  class="nav_dropdown-item"
                  >Service</a
                >
                <a
                  id="accessPoint-link"
                  href="{{ url_for('admin.service') }}"
                  class="nav_dropdown-item"
                  >Access Point</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="nav_items">
          <h3 class="nav_subtitle">Management</h3>
          <a
            id="sla-config-link"
            href="{{ url_for('admin.sla_configuration') }}"
            class="nav_link"
          >
            <i class="bx bxs-report nav_icon"></i>
            <span class="nav_name">SLA</span>
          </a>
          <div id="ddl-location-menu" class="nav_dropdown">
            <a class="nav_link">
              <i class="bx bx-line-chart nav_icon"></i>
              <span class="nav_name">Location</span>
              <i class="bx bx-chevron-down nav_icon nav_dropdown-icon"></i>
            </a>

            <div class="nav_dropdown-collapse dark:bg-base-200">
              <div class="nav_dropdown-content">
                <a
                  id="location-link"
                  href="{{ url_for('admin.location') }}"
                  class="nav_dropdown-item pb-4"
                  >Map</a
                >
                <a
                  id="accesspoint-location-link"
                  href="{{ url_for('admin.access_point_location') }}"
                  class="nav_dropdown-item pb-4"
                  >Access Point</a
                >
                <a
                  id="host-location-link"
                  href="{{ url_for('admin.host_location') }}"
                  class="nav_dropdown-item"
                  >Host</a
                >
              </div>
            </div>
          </div>
          <a
            id="problem-link"
            href="{{ url_for('admin.category') }}"
            class="nav_link"
          >
            <i class="bx bx-category nav_icon"></i>
            <span class="nav_name">Issue Category</span>
          </a>
          <a
            id="permission-link"
            href="{{ url_for('admin.permission') }}"
            class="nav_link"
          >
            <i class="bx bx-group nav_icon"></i>
            <span class="nav_name">Permission</span>
          </a>
          <a
            id="report-link"
            href="{{ url_for('admin.report') }}"
            class="nav_link"
          >
            <i class="bx bx-bug nav_icon"></i>
            <span class="nav_name">Report</span>
          </a>
        </div>
      </div>
    </div>

    <a
      id="logout-sidebar-link"
      href="{{ url_for('site.logout') }}"
      class="nav_link nav_logout"
    >
      <i class="bx bx-log-out nav_icon"></i>
      <span class="nav_name">Log Out</span>
    </a>
  </nav>
</div>

<script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
