<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{{ url_for('static', filename='js/modeRender.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modeSystem.js') }}"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/boxicons/css/boxicons.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/dataTable/print_datatables.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/dataTable/dataTables.bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css') }}"
    />

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/dataTable/buttons_datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.js') }}"></script>

    {% if title %}
    <title>PSU - {{ title }}</title>
    {% else %}
    <title>PSU Network Monitoring</title>
    {% endif %}
  </head>
  <body>
    {% if account.role == 'admin' %} {% include "/layouts/adminLayout.html" %}
    {% else %} {% include "/layouts/userLayout.html" %} {% endif %}
    <main class="container" style="margin-top: 2rem">
      {% block content %} {% endblock %}
    </main>
    <script>
      function fadeOutElement() {
        $("#alert-message").fadeOut(1000);
      }

      setTimeout(fadeOutElement, 5000);
    </script>
  </body>
</html>
