<dialog id="host-modal" class="modal">
  <form method="dialog" class="modal-box w-11/12 max-w-5xl">
    <h3 class="font-bold text-lg" id="host-title"></h3>
    <div class="modal-tabs tabs pt-5">
      <a class="tab tab-lifted tab-active" data-tab="host-info">Info</a>
    </div>
    <div id="host-info" class="modal-section current">
      <p id="host-info-detail" class="py-4"></p>
      <p id="host-graph-detail" class="py-4 pr-2"></p>
    </div>
  </form>
  <form method="dialog" class="modal-backdrop">
    <button onclick="handleClose()">close</button>
  </form>
</dialog>

<script>
  function handleClose() {
    const modal = document.getElementById("host-info");
    modal.style.display = "none";
  }
</script>
