<div class="navbar bg-navbar dark:bg-base-100 dark:border-b-2 border-gray-800">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl"
      ><img
        src="{{ url_for('static', filename='/images/psu.png') }}"
        alt="logo"
        width="55"
        height="30"
        id="logo"
    /></a>
  </div>
  <div class="flex-none">
    <ul
      class="menu menu-horizontal px-1 text-white"
      style="align-items: center"
    >
      <li>
        <span class="hover:text-white"
          ><input class="checkbox" type="checkbox" id="toggle" />
          <label class="toggle toggle-mode" for="toggle">
            <i class="bx bx-sun icon icon--light"></i>
            <i class="bx bx-moon icon icon--dark"></i>
            <span class="ball"></span> </label
        ></span>
      </li>
      <li class="pr-3">
        <a id="link-report" class="hover:text-white" href="/report"
          >แจ้งปัญหา</a
        >
      </li>
      {% if account.is_authenticated %}
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="{{ url_for('static', filename='/images/avatar.png') }}" />
          </div>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow dark:bg-base-100 dark:text-white text-black rounded-box w-52"
        >
          <li>
            <div class="p-3 flex flex-col">
              <span style="width: 100%; font-size: 16px"
                >{{ account.first_name }} {{ account.last_name }}</span
              >
              <span class="text-neutral-500" style="width: 100%"
                >{{ account.email }}</span
              >
            </div>
          </li>
          <li></li>
          <li>
            <a
              class="text-red-500 hover:text-white hover:bg-red-500 pb-2"
              href="/logout"
              >Logout</a
            >
          </li>
        </ul>
      </div>
      {% else %}
      <li>
        <a
          id="link-login"
          class="border outline outline-2 hover:bg-white hover:text-black"
          href="/login"
          >เข้าสู่ระบบ</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</div>
