{% extends "./layouts/base.html" %} {% block content %}
<div class="admin-container">
  <h1 class="text-4xl font-bold pb-8">{{ month_name }}</h1>
  <div class="text-sm breadcrumbs pb-5">
    <ul>
      <li><a href="/admin/hosts">Host</a></li>
      <li>{{ month_name }}</li>
    </ul>
  </div>
  <div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
      <div class="stat-title">SLA Availability</div>
      <div class="stat-value text-indigo-500">{{ avg_sla }}%</div>
    </div>

    <div class="stat">
      <div class="stat-title">Host Down Total</div>
      <div class="stat-value text-error">{{ host_all_count }}</div>
    </div>
  </div>
  <h1>{{ host_detail }}</h1>
  <h1>{{ day_data }}</h1>
</div>
{% endblock %}
