{% extends "/layouts/base.html" %} {% block content %}
<div class="admin-container">
  <h1 class="text-4xl font-bold pb-8">Location</h1>
  {% include "/layouts/messageSection.html" %}
  <dialog id="delete_modal" class="modal modal-bottom sm:modal-middle">
    <form method="dialog" class="modal-box">
      <h3 class="font-bold text-lg">Delete Confirmation</h3>
      <p class="py-4"></p>
      <div class="modal-action">
        <button class="btn">ยกเลิก</button>
        <a id="cf_delete" class="btn text-white bg-red-500 hover:bg-red-600"
          >ตกลง</a
        >
      </div>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <div class="flex justify-end">
    <a
      href="{{ url_for('admin.create_location') }}"
      class="btn bg-primary hover:bg-secondary dark:bg-neutral text-white"
    >
      เพิ่มที่ตั้ง
    </a>
  </div>
  <div class="overflow-x-auto pt-10">
    <table id="location-table" class="display nowrap" style="width: 100%">
      <thead>
        <tr>
          <th></th>
          <th>ชื่อสถานที่</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ location.name }}</td>
          <td>{{ location.lat }}</td>
          <td>{{ location.lng }}</td>
          <td>
            <div class="cursor-pointer flex justify-evenly">
              <a
                href="/admin/locations/edit/{{ location.id }}"
                id="btn-location-edit"
              >
                <i
                  class="bx bx-edit-alt text-indigo-500"
                  style="font-size: 25px"
                ></i>
              </a>
              <button
                onclick="openDeleteModal('{{ location.id }}', '{{ location.name }}')"
                id="btn-location-delete"
              >
                <i
                  class="bx bxs-trash text-red-500"
                  style="font-size: 25px"
                ></i>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>ชื่อสถานที่</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<script src="{{ url_for('static', filename='js/location.js') }}"></script>
{% endblock %}
