{% extends "/layouts/base.html" %} {% block content %}
<div class="admin-container">
  {% include "/layouts/messageSection.html" %}
  <dialog id="host-modal" class="modal">
    <form method="dialog" class="modal-box">
      <h3 class="font-bold text-lg" id="host-title"></h3>
      <div class="modal-tabs tabs pt-5">
        <a class="tab tab-lifted tab-active" data-tab="host-info">Info</a>
        <a class="tab tab-lifted" data-tab="host-graph">Graph</a>
      </div>
      <div id="host-info" class="modal-section tab-content current">
        <p id="host-info-detail" class="py-4"></p>
      </div>
      <div id="host-graph" class="modal-section tab-content">
        <p id="host-graph-detail" class="py-4"></p>
      </div>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <div class="page-tabs tabs">
    <a class="tab tab-lifted tab-active" data-tab="host">Host</a>
    <a class="tab tab-lifted" data-tab="service">Service</a>
  </div>
  <div id="host" class="page tab-content current">
    <div class="cards">
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if host_groups_summary["TOTAL"] %} {{
            host_groups_summary["TOTAL"] }} {% else %} - {% endif %}
          </h1>
          <span>Total Hosts</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if host_groups_summary["UP"] %} {{ host_groups_summary["UP"] }}
            {% else %} - {% endif %}
          </h1>
          <span>UP</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if host_groups_summary["DOWN"] %} {{ host_groups_summary["DOWN"]
            }} {% else %} - {% endif %}
          </h1>
          <span>DOWN</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if host_groups_summary["UNREACH"] %} {{ host_groups_summary["UNREACH"]
            }} {% else %} - {% endif %}
          </h1>
          <span>UNREACH</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if host_groups_summary["MAINTAIN"] %} {{ host_groups_summary["MAINTAIN"]
            }} {% else %} - {% endif %}
          </h1>
          <span>MAINTAIN</span>
        </div>
      </div>
    </div>
    <div class="form-control w-full pb-4 max-w-xs">
      <label class="label">
        <span class="label-text">สถานที่</span>
      </label>
      <select
        id="ddl-location"
        class="select select-bordered"
        onchange="handleSelectChange()"
      >
        <option value="7.00922|100.49732" selected disabled>
          เลือกสถานที่ที่ต้องการ
        </option>

        {% for location in location_list %}
        <option value="{{ location.lat }}|{{ location.lng }}">
          {{ location.name }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div
      class="flex flex-col lg:flex-row md:flex-row gap-5"
      id="layoutContainer"
    >
      <div
        class="w-full md:w-7/12 sm:w-12/12 pt-5 bg-light-primary dark:bg-dark-primary pr-2 pl-2 rounded-md shadow-xl"
        id="mapContainer"
        style="max-height: 600px"
      >
        <div class="map-container pb-5">
          <div class="btn-full cursor-pointer" onclick="handleExpand()">
            <i class="bx bx-expand"></i>
          </div>
          <div id="map"></div>
        </div>
      </div>
      <div
        class="w-full md:w-5/12 sm:w-12/12 bg-light-primary rounded-md dark:bg-dark-primary shadow-xl"
        id="elementContainer"
      >
        <div class="table-responsive p-3 pt-5">
          <table id="host-table" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>Host Name</th>
                <th>IP Address</th>
                <th>Status</th>
                <th>Total User</th>
                <th>Availability</th>
              </tr>
            </thead>
            <tbody>
              {% for host in host_list %}
              <tr>
                <td>{{ host.title }}</td>
                <td>{{ host.extensions.address }}</td>
                <td>
                  {% if host.extensions.state == 0 %}
                  <div class="badge badge-success pb-0.5">UP</div>
                  {% elif host.extensions.state == 1 %}
                  <div class="badge badge-error pb-0.5">DOWN</div>
                  {% elif host.extensions.state == 2 %}
                  <div class="badge badge-warning pb-0.5">UNREACH</div>
                  {% else %}
                  <div class="badge badge-neutral pb-0.5">MAINTAIN</div>
                  {% endif %}
                </td>
                <td>{{ host.extensions.connected_devices }}</td>
                <td>-</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="service" class="page tab-content">
    <div class="cards">
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if service_groups_summary["TOTAL"] %} {{
            service_groups_summary["TOTAL"] }} {% else %} - {% endif %}
          </h1>
          <span>Total Services</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if service_groups_summary["UP"] %} {{
            service_groups_summary["UP"] }} {% else %} - {% endif %}
          </h1>
          <span>UP</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if service_groups_summary["DOWN"] %} {{
            service_groups_summary["DOWN"] }} {% else %} - {% endif %}
          </h1>
          <span>DOWN</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if service_groups_summary["UNREACH"] %} {{
            service_groups_summary["UNREACH"] }} {% else %} - {% endif %}
          </h1>
          <span>UNREACH</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-4xl">
            {% if service_groups_summary["MAINTAIN"] %} {{
            service_groups_summary["MAINTAIN"] }} {% else %} - {% endif %}
          </h1>
          <span>MAINTAIN</span>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row md:flex-row gap-5">
      <div class="w-full bg-light-primary rounded-md dark:bg-dark-primary">
        <div class="table-responsive p-3 pt-5">
          <table id="service-table" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>Service Name</th>
                <th>URL</th>
                <th>Status</th>
                <th>Availability</th>
              </tr>
            </thead>
            <tbody>
              {% for service in service_list %}
              <tr>
                <td>{{ service["extensions"]["name"] }}</td>
                <td>
                  <a
                    href='{{ service["extensions"]["name"].replace("HTTPS", "https://").replace("HTTP", "http://").replace(" ", "") | trim }}'
                    target="_blank"
                    >{{ service["extensions"]["name"].replace("HTTPS",
                    "").replace("HTTP", "") }}</a
                  >
                </td>
                <td>
                  {% if service["extensions"]["state"] == 0 %}
                  <div class="badge badge-success pb-0.5">UP</div>
                  {% elif service["extensions"]["state"] == 1 %}
                  <div class="badge badge-error pb-0.5">DOWN</div>
                  {% elif service["extensions"]["state"] == 2 %}
                  <div class="badge badge-warning pb-0.5">UNREACH</div>
                  {% else %}
                  <div class="badge badge-neutral pb-0.5">MAINTAIN</div>
                  {% endif %}
                </td>
                <td>-</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var greenIcon = new L.Icon({
    iconUrl: "{{ url_for('static', filename='images/green.png') }}",
    iconSize: [20, 20],
  });

  var redIcon = new L.Icon({
    iconUrl: "{{ url_for('static', filename='images/red.png') }}",
    iconSize: [20, 20],
  });
</script>
<script src="{{ url_for('static', filename='js/adminHome.js') }}"></script>
<script src="{{ url_for('static', filename='utils/handleExpandMap.js') }}"></script>
<script src="{{ url_for('static', filename='utils/handleSelectChange.js') }}"></script>
{% endblock %}
