{% extends "/layouts/base.html" %} {% block content %}
<div class="admin-container">
  <h1 class="text-4xl font-bold pb-8">SLA Requirements</h1>
  <dialog
    id="sla_configuration_modal"
    class="modal modal-bottom sm:modal-middle"
  >
    <div class="modal-box">
      <h3 class="font-bold text-lg">Service State Percentage</h3>
      <form action="{{ url_for('admin.sla_configuration') }}" method="POST">
        <div class="form-control w-full pt-5">
          <label class="label">
            <span class="label-text">Year</span>
          </label>
          <input
            type="text"
            name="year"
            placeholder="2023"
            class="input input-bordered w-full"
          />
        </div>
        <div class="form-control w-full pt-5">
          <label class="label">
            <span class="label-text">OK</span>
          </label>
          <input
            type="number"
            name="ok_status"
            placeholder="90.00"
            class="input input-bordered w-full"
          />
        </div>
        <div class="form-control w-full pt-5">
          <label class="label">
            <span class="label-text">Warning</span>
          </label>
          <input
            type="number"
            name="warning_status"
            placeholder="50.00"
            class="input input-bordered w-full"
          />
        </div>
        <div class="form-control w-full pt-5">
          <label class="label">
            <span class="label-text">Critical</span>
          </label>
          <input
            type="number"
            name="critical_status"
            placeholder="10.00"
            class="input input-bordered w-full"
          />
        </div>
        <div class="modal-action">
          <button
            type="submit"
            id="cf_create"
            class="btn bg-primary hover:bg-secondary dark:bg-neutral text-white"
          >
            เพิ่ม
          </button>
        </div>
      </form>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <dialog id="delete_modal" class="modal modal-bottom sm:modal-middle">
    <form method="dialog" class="modal-box">
      <h3 class="font-bold text-lg">ยืนยันการลบข้อมูล</h3>
      <p class="py-4"></p>
      <div class="modal-action">
        <button class="btn">ยกเลิก</button>
        <a id="cf_delete" class="btn text-white bg-red-500 hover:bg-red-600"
          >ตกลง</a
        >
      </div>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <dialog id="edit_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Edit Service State Percentage</h3>
      <form
        action="{{ url_for('admin.edit_sla_configuration') }}"
        method="POST"
      >
        <div class="form-control w-full pt-5">
          <input
            id="edit_sla_config_id"
            type="hidden"
            name="sla_config_id"
            class="input input-bordered w-full"
          />
          <label class="label">
            <span class="label-text">Year</span>
          </label>
          <input
            id="edit_year"
            type="number"
            name="year"
            placeholder="2023"
            class="input input-bordered w-full"
          />
        </div>
        <div class="form-control w-full pt-5">
          <label class="label">
            <span class="label-text">OK</span>
          </label>
          <input
            id="edit_ok_status"
            type="number"
            name="ok_status"
            placeholder="90.00"
            class="input input-bordered w-full"
          />
        </div>
        <div class="form-control w-full pt-5">
          <label class="label">
            <span class="label-text">Warning</span>
          </label>
          <input
            id="edit_warning_status"
            type="number"
            name="warning_status"
            placeholder="50.00"
            class="input input-bordered w-full"
          />
        </div>
        <div class="form-control w-full pt-5">
          <label class="label">
            <span class="label-text">Critical</span>
          </label>
          <input
            id="edit_critical_status"
            type="number"
            name="critical_status"
            placeholder="10.00"
            class="input input-bordered w-full"
          />
        </div>
        <div class="modal-action">
          <button
            type="submit"
            id="cf_edit"
            class="btn bg-primary hover:bg-secondary dark:bg-neutral text-white"
          >
            เพิ่ม
          </button>
        </div>
      </form>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  {% include "/layouts/messageSection.html" %}
  <div class="flex justify-end">
    <button
      class="btn bg-primary hover:bg-secondary dark:bg-neutral text-white"
      onclick="sla_configuration_modal.showModal()"
    >
      เพิ่ม SLA Requirements
    </button>
  </div>
  <div class="overflow-x-auto pt-10">
    <table id="sla-table" class="display nowrap" style="width: 100%">
      <thead>
        <tr>
          <th></th>
          <th>YEAR</th>
          <th>OK</th>
          <th>WARNING</th>
          <th>CRITICAL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in sla_configs %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item.year }}</td>
          <td>{{ item.ok_status }}</td>
          <td>{{ item.warning_status }}</td>
          <td>{{ item.critical_status }}</td>
          <td>
            <div class="cursor-pointer flex justify-evenly">
              <button
                onclick="openEditModal('{{ item.id }}', '{{ item.year }}', '{{ item.ok_status }}', '{{ item.warning_status }}', '{{ item.critical_status }}')"
                id="btn-edit"
              >
                <i
                  class="bx bx-edit-alt text-indigo-500"
                  style="font-size: 25px"
                ></i>
              </button>
              <button
                onclick="openDeleteModal('{{ item.id }}', '{{ item.year }}')"
                id="btn-delete"
              >
                <i
                  class="bx bxs-trash text-red-500"
                  style="font-size: 25px"
                ></i>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{{ url_for('static', filename='js/slaTable.js') }}"></script>
{% endblock %}
