{% extends "/layouts/base.html" %} {% block content %}
<div class="admin-container">
  {% include "/layouts/messageSection.html" %} {% include
  "/layouts/accessPointModal.html" %}

  <div class="flex justify-center pb-7">
    <ul
      class="menu menu-horizontal bg-light-primary dark:bg-base-200 rounded-lg gap-4"
    >
      <li><a href="{{ url_for('admin.host_dashboard') }}">Host</a></li>
      <li>
        <a
          href="{{ url_for('admin.access_point_dashboard') }}"
          class="bg-indigo-500 text-white"
          >Access Point</a
        >
      </li>
      <li><a href="{{ url_for('admin.service_dashboard') }}">Service</a></li>
    </ul>
  </div>
  <div id="accessPoint">
    <div class="accessPoint-cards">
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if accessPoint_summary["TOTAL"] %} {{
            accessPoint_summary["TOTAL"] }} {% else %} - {% endif %}
          </h1>
          <span>Total AccessPoints</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if accessPoint_summary["OK"] %} {{ accessPoint_summary["OK"] }}
            {% else %} - {% endif %}
          </h1>
          <span>OK</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if accessPoint_summary["CRIT"] %} {{ accessPoint_summary["CRIT"]
            }} {% else %} - {% endif %}
          </h1>
          <span>CRIT</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if accessPoint_summary["WARN"] %} {{ accessPoint_summary["WARN"]
            }} {% else %} - {% endif %}
          </h1>
          <span>WARN</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if accessPoint_summary["MAINTAIN"] %} {{
            accessPoint_summary["MAINTAIN"] }} {% else %} - {% endif %}
          </h1>
          <span>MAINTAIN</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if accessPoint_summary["UNKNOWN"] %} {{
            accessPoint_summary["UNKNOWN"] }} {% else %} - {% endif %}
          </h1>
          <span>UNKNOWN</span>
        </div>
      </div>
    </div>
    <div class="form-control w-full pb-4 max-w-xs">
      <label class="label">
        <span class="label-text">สถานที่</span>
      </label>
      <select
        id="ddl-location"
        class="select select-bordered"
        onchange="handleSelectChange()"
      >
        <option value="7.00922|100.49732" selected disabled>
          เลือกสถานที่ที่ต้องการ
        </option>

        {% for location in location_list %}
        <option value="{{ location.lat }}|{{ location.lng }}">
          {{ location.name }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div
      class="flex flex-col lg:flex-row md:flex-row gap-5"
      id="layoutContainer"
    >
      <div
        class="w-full md:w-7/12 sm:w-12/12 pt-5 bg-light-primary dark:bg-dark-primary pr-2 pl-2 rounded-md shadow-xl"
        id="mapContainer"
      >
        <div class="map-container pb-5">
          <div class="btn-full cursor-pointer" onclick="handleExpand()">
            <i class="bx bx-expand"></i>
          </div>
          <div id="map"></div>
        </div>
      </div>
      <div
        class="w-full md:w-5/12 sm:w-12/12 bg-light-primary rounded-md dark:bg-dark-primary shadow-xl overflow-x-scroll"
        id="elementContainer"
      >
        <div class="table-responsive p-3 pt-5">
          <table id="accessPoint-table" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>AP Name</th>
                <th>Status</th>
                <th>Availability</th>
              </tr>
            </thead>
            <tbody>
              {% for accessPoint in access_point_list %}
              <tr>
                <td
                  class="tooltip tooltip-right w-[90%] text-left dark:tooltip-primary"
                  data-tip="{{ accessPoint.name }}"
                >
                  <div id="accessPoint-name">{{ accessPoint.name }}</div>
                </td>
                <td>
                  {% if accessPoint.state == 0 %}
                  <div class="badge badge-success pb-0.5">OK</div>
                  {% elif accessPoint.state == 1 %}
                  <div class="badge badge-warning pb-0.5">WARN</div>
                  {% elif accessPoint.state == 2 %}
                  <div class="badge badge-error pb-0.5">CRIT</div>
                  {% else %}
                  <div class="badge badge-primary pb-0.5">UNKNOWN</div>
                  {% endif %}
                </td>
                {% if accessPoint.availability %}
                <td>{{ accessPoint.availability }} %</td>
                {% else %}
                <td>-</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    var greenIcon = new L.Icon({
      iconUrl: "{{ url_for('static', filename='images/green.png') }}",
      iconSize: [20, 20],
    });

    var redIcon = new L.Icon({
      iconUrl: "{{ url_for('static', filename='images/red.png') }}",
      iconSize: [20, 20],
    });

    var yellowIcon = new L.Icon({
      iconUrl: "{{ url_for('static', filename='images/yellow.png') }}",
      iconSize: [20, 20],
    });

    var slateIcon = new L.Icon({
      iconUrl: "{{ url_for('static', filename='images/slate.png') }}",
      iconSize: [20, 20],
    });

    var indigoIcon = new L.Icon({
      iconUrl: "{{ url_for('static', filename='images/unknown-mark.png') }}",
      iconSize: [20, 20],
    });
  </script>
  <script src="{{ url_for('static', filename='js/adminHome.js') }}"></script>
  <script src="{{ url_for('static', filename='js/accessPointMap.js') }}"></script>
  <script src="{{ url_for('static', filename='utils/handleExpandMap.js') }}"></script>
  <script src="{{ url_for('static', filename='utils/handleSelectChange.js') }}"></script>
</div>
{% endblock %}
