{% extends "/layouts/base.html" %} {% block content %}
<div class="admin-container">
  {% include "/layouts/messageSection.html" %}

  <div class="flex justify-center pb-7">
    <ul
      class="menu menu-horizontal bg-light-primary dark:bg-base-200 rounded-lg gap-4"
    >
      <li><a href="{{ url_for('admin.host_dashboard') }}">Host</a></li>
      <li>
        <a href="{{ url_for('admin.access_point_dashboard') }}">Access Point</a>
      </li>
      <li>
        <a
          href="{{ url_for('admin.service_dashboard') }}"
          class="bg-indigo-500 text-white"
          >Service</a
        >
      </li>
    </ul>
  </div>
  <div id="service">
    <div class="service-cards">
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if service_summary["TOTAL"] %} {{ service_summary["TOTAL"] }} {%
            else %} - {% endif %}
          </h1>
          <span>Total Services</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if service_summary["OK"] %} {{ service_summary["OK"] }} {% else
            %} - {% endif %}
          </h1>
          <span>OK</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if service_summary["CRIT"] %} {{ service_summary["CRIT"] }} {%
            else %} - {% endif %}
          </h1>
          <span>CRIT</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if service_summary["WARN"] %} {{ service_summary["WARN"] }} {%
            else %} - {% endif %}
          </h1>
          <span>WARN</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if service_summary["MAINTAIN"] %} {{ service_summary["MAINTAIN"]
            }} {% else %} - {% endif %}
          </h1>
          <span>MAINTAIN</span>
        </div>
      </div>
      <div class="card-single dark:bg-base-200 shadow-xl">
        <div>
          <h1 class="text-3xl">
            {% if service_summary["UNKNOWN"] %} {{ service_summary["UNKNOWN"] }}
            {% else %} - {% endif %}
          </h1>
          <span>UNKNOWN</span>
        </div>
      </div>
    </div>
    <div class="service-group-container pb-5 pt-5">
      <div tabindex="0" class="collapse collapse-arrow border border-base-300">
        <div class="collapse">
          <input type="checkbox" />
          <div class="collapse-title text-xl font-medium">Service Group</div>
          <div class="collapse-content">
            <div class="overflow-x-auto pb-4">
              <table class="table">
                <thead>
                  <tr>
                    <th>Group Name</th>
                    <th>SLA Availability</th>
                  </tr>
                </thead>
                <tbody>
                  {% for service_group in service_group_list %}
                    {% if service_group['extensions']["availability"] != "" %}
                      <tr>
                        <td>{{ service_group["title"] }}</td>
                        {% if service_group["extensions"]["availability"] %}
                        <td>{{ service_group["extensions"]["availability"] }} %</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row md:flex-row gap-5">
      <div
        class="w-full bg-light-primary rounded-md dark:bg-dark-primary shadow-xl overflow-x-scroll"
        id="elementContainerService"
      >
        <div class="table-responsive p-3 pt-5">
          <table id="service-table" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>Service Name</th>
                <th>URL</th>
                <th>Status</th>
                <th>Availability</th>
              </tr>
            </thead>
            <tbody>
              {% for service in service_list %}
              <tr>
                <td>
                  {{ service["extensions"]["host_name"] }}: {{
                  service["extensions"]["description"]}}
                </td>
                <td>
                  <a
                    href='https://{{ service["extensions"]["host_name"].split(":")[0] | trim }}'
                    target="_blank"
                    >{{ service["extensions"]["host_name"].replace("HTTPS",
                    "").replace("HTTP", "") }}</a
                  >
                </td>
                <td>
                  {% if service["extensions"]["state"] == 0 %}
                  <div class="badge badge-success pb-0.5">OK</div>
                  {% elif service["extensions"]["state"] == 1 %}
                  <div class="badge badge-warning pb-0.5">WARN</div>
                  {% elif service["extensions"]["state"] == 2 %}
                  <div class="badge badge-error pb-0.5">CRIT</div>
                  {% elif service["extensions"]["state"] == 3 %}
                  <div class="badge badge-primary pb-0.5">UNKNOWN</div>
                  {% else %}
                  <div class="badge badge-neutral pb-0.5">MAINTAIN</div>
                  {% endif %}
                </td>
                {% if service.extensions.availability %}
                <td>{{ service.extensions.availability }} %</td>
                {% else %}
                <td>-</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/adminHome.js') }}"></script>
</div>
{% endblock %}
