{% extends "/layouts/base.html" %} {% block content %}
<div class="admin-container">
  <h1 class="text-4xl font-bold pb-8">Edit Location</h1>
  <div class="text-sm breadcrumbs pb-5">
    <ul>
      <li><a href="/admin/overview/access-point">Home</a></li> 
      <li><a href="/admin/locations">Locations</a></li> 
      <li>Edit Location</li>
    </ul>
  </div>
  {% include "/layouts/messageSection.html" %}
  <form method="post">
    {{ form.csrf_token }}
    <div class="flex justify-end gap-5">
      <div class="btn cursor-pointer" id="showLocationsButton" onclick="showAllLocations('location')">แสดงหมุดทั้งหมด</div>
      {{ form.submit(value="แก้ไขข้อมูล") }}
    </div>
    <div class="map-container pb-5 pt-5">
      <div id="map"></div>
    </div>
    <div class="form-control w-full pb-3">
      <label for="{{ form.location_id.id }}" class="label">
        <span class="label-text">{{ form.location_id.label }}</span>
      </label>
      {{ form.location_id() }}
    </div>
    <div class="form-control w-full pb-3">
      <label for="{{ form.name.id }}" class="label">
        <span class="label-text">{{ form.name.label }}</span>
      </label>
      {{ form.name() }}
    </div>
    <div class="form-control w-full pb-3">
      <label for="{{ form.lat.id }}" class="label">
        <span class="label-text">{{ form.lat.label }}</span>
      </label>
      {{ form.lat() }}
    </div>
    <div class="form-control w-full pb-3">
      <label for="{{ form.lng.id }}" class="label">
        <span class="label-text">{{ form.lng.label }}</span>
      </label>
      {{ form.lng() }}
    </div>
  </form>
</div>
<script>
  var markedIcon = L.icon({
    iconUrl: "{{ url_for('static', filename='images/marked.png') }}",
    iconSize: [30, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
  });
</script>
<script>
  var redIcon = L.icon({
    iconUrl: "{{ url_for('static', filename='images/red-mark.png') }}",
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
  });
</script>
<script src="{{ url_for('static', filename='js/locationMap.js') }}"></script>
{% endblock %}
