<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{{ url_for('static', filename='js/modeSystem.js') }}"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/boxicons/css/boxicons.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/dataTable/print_datatables.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/dataTable/dataTables.bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css') }}"
    />

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/dataTable/buttons_datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-2.26.0.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='utils/handleLimitLength.js') }}"></script>
  
    {% if title %}
    <title>PSU - {{ title }}</title>
    {% else %}
    <title>PSU Network Monitoring</title>
    {% endif %}
  </head>
  <body>
    <div class="loader-wrapper">
      <div class="loader">
        <div class="loader-text">LOADING...</div>
        <div class="loader-bar"></div>
      </div>
    </div>
    {% if account.role == 'admin' %} {% include "/layouts/adminLayout.html" %}
    {% else %} {% include "/layouts/userLayout.html" %} {% endif %}
    <main class="container" style="margin-top: 2rem">
      {% block content %} {% endblock %}
    </main>
    <button
      class="btn fixed bottom-5 end-8 hidden bg-neutral-800 dark:bg-white hover:dark:bg-white hover:bg-neutral-800"
      onclick="scrollToTop()"
      id="back-to-up"
    >
      <i class="bx bxs-chevrons-up text-white dark:text-black text-xl"></i>
    </button>
    <script>
      $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
      });
    </script>
    <script>
      function fadeOutElement() {
        $("#alert-message").fadeOut(1000);
      }

      setTimeout(fadeOutElement, 5000);
    </script>
    <script>
      window.onscroll = () => {
        toggleTopButton();
      };
      function scrollToTop() {
        window.scrollTo({ top: 0, behavior: "smooth" });
      }

      function toggleTopButton() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          document.getElementById("back-to-up").classList.remove("hidden");
        } else {
          document.getElementById("back-to-up").classList.add("hidden");
        }
      }
    </script>
  </body>
</html>
