{% extends "./layouts/base.html" %} {% block content %}
<h1 class="text-4xl font-bold pt-10 pb-5 text-center align-middle">
  เข้าสู่ระบบ
</h1>
<div class="flex justify-center items-center pt-10">
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-control w-full pb-3 max-w-xs">
      <label for="{{ form.username.id }}" class="label">
        <span class="label-text">{{ form.username.label }}</span>
      </label>
      {{ form.username(class="input input-bordered w-full max-w-xs",
      placeholder="Username") }}
    </div>
    <div class="form-control w-full pb-8 max-w-xs">
      <label for="{{ form.password.id }}" class="label">
        <span class="label-text">{{ form.password.label }}</span>
      </label>
      {{ form.password(class="input input-bordered w-full max-w-xs",
      placeholder="Password") }}
    </div>
    <div class="flex justify-center">
      {{ form.submit(class="btn bg-primary hover:bg-secondary dark:bg-neutral
      text-white") }}
    </div>
  </form>
</div>
{% endblock %}
